h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;

}

.mami {
    width: 50%;
    height: 50%;
}

.parent-container {
    display: grid;
    justify-content: center;
    /* Yatayda ortala */
}

/* Butonun özellikleri */
.hayaldunyasi {
    width: 100px;
    /* İstediğiniz genişlik */
    height: 60px;
    /* İstediğiniz yükseklik */
}
.hayaldunyasi1 {
    width: 100px;
    /* İstediğiniz genişlik */
    height: 60px;
    /* İstediğiniz yükseklik */
}